@charset "UTF-8";

#date {
  margin: 3px 10px 5px;
  color: #E67E22;
  font-size: 300%;
  font-weight: bold;
  font-weight: normal;
  }

#time {
  margin: 0;
  padding: 0;
  font-size: 800%;
  font-weight: bold;
  line-height: 1em;
  }

 #current_time {
 }

